/* Fonts */
@font-face {                     /* normal 400 */
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/roboto.woff2"),
    url("/fonts/roboto.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {                    /* normal 500 */
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("/fonts/robotomedium.woff2"),
    url("/fonts/robotomedium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {                    /* normal 700 */
  font-family: "Roboto";
  src: local("Roboto Bold"),
  url("/fonts/robotobold.woff2"),
  url("/fonts/robotobold.woff");
  font-weight: 700;
  font-style: normal;
}

/* Color */
 :root {
  --basic-white: #fff;
  --basic-grey: #eee;
  --accent-color: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --light-grey: #E1E1E1;
  --extra-grey: #4D4D4D;
  --description-color: #283136;
}

/* Standard */

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.wrapper {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Button */

.button {
  background-color: var(--accent-color);

  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
}

/* Header */

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.main-navigation__item {
  list-style: none;
}

.main-navigation__ref, .main-header__cart-bug {
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  opacity: 70%;
}

.main-navigation__ref:hover,
.main-header__cart-bug:hover {
  color: var(--accent-color);
}

.header__logo:active,
.main-navigation__ref:active,
.main-header__cart-bug:active {
  opacity: 30%;
}

/* Presentation */

.slider__heading {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider__description {
  color: var(--description-color);
}

.slide-first, .slide-second, .slide-third {
  background-color: #E0E0E0;
}

/* Services */

.

/* About */

/* About data */

/* Clients */

/* Footer */

/* Map */

/* Social */