/* Fonts */

@font-face {
  /* normal 400 */
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto"),
       local("Roboto-Regular"),
       url("../fonts/roboto.woff2"),
       url("../fonts/roboto.woff");
}

@font-face {
  /* normal 500 */
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Medium"),
       local("Roboto-Medium"),
       url("../fonts/robotomedium.woff2"),
       url("../fonts/robotomedium.woff");
}

@font-face {
  /* normal 700 */
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"),
       local("Roboto-Bold"),
       url("../fonts/robotobold.woff2"),
       url("../fonts/robotobold.woff");
}

/* Color */

:root {
  --basic-black: #000;
  --basic-white: #FFF;
  --basic-grey: #EEE;
  --basic-grey-hover: #DFDFDF;
  --basic-grey-active: #D5D5D5;
  --light-grey-100: #D7DCDE;
  --light-grey-200: #E0E0E0;
  --light-grey-250: #E1E1E1;
  --light-grey-300: #B4B9BB;
  --extra-grey-100: #666;
  --extra-grey-200: #4D4D4D;
  --extra-grey-250: #444;
  --extra-grey-300: #283136;

  --border-grey: #DBDBDB;
  --arrows-grey: #A6A6A6;
  --arrows-black: #231F20;

  --accent-red: #FB565A;
  --accent-red-hover: #E74246;
  --accent-red-active: #D7373B;
  --accent-green: #00CA74;
  --accent-green-hover: #00BC6C;
  --accent-green-active: #00AA62;
  --accent-yellow: #EFC849;
  --accent-yellow-hover: #EAB534;
  --accent-yellow-active: #E5A722;

  --box-shadow-active: rgba(0, 1, 1, 0.1);
  --drop-shadow-black: rgba(0, 0, 0, 0.25);
  --text-button-active: rgba(255, 255, 255, 30%);
  --point-basic-black: rgba(0, 0, 0, 0.0001);
}

/* Index */

/* Standard */

html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.wrapper {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.separator {
  width: 1158px;
  height: 2px;
  margin: 0 auto;
  padding: 0;
  border: none;

  background-color: var(--basic-grey);
}

/* Button */

.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  /* inline-block vertical-align not working */
  vertical-align: middle;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--accent-red);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--accent-red-hover);
}

.button:active {
  color: var(--text-button-active);
  background-color: var(--accent-red-active);
  box-shadow: inset 0 3px 0 var(--box-shadow-active);
}

.button_grey {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.button_grey:hover {
  background-color: var(--basic-grey-hover);
}

.button_grey:active {
  background-color: var(--basic-grey-active);
}

/* Ref */

.ref {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 100%;
}

.ref:hover {
  color: var(--accent-red);
}

.ref:active {
  color: var(--basic-black);
  opacity: 100%;
}

/* Header */

.page-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.page-header__page-navigation {
  display: grid;
  grid-template-columns: auto 1fr min-content;
  column-gap: 40px;
  width: 1170px;
  margin: 0 auto;
  padding: 50px 10px 0 10px;
}

.page-navigation__list {
  grid-column: 2 / 3;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap 80+% supports browsers */
  gap: 10px 45px;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* TODO idk this solution */
/* .page-navigation__item {
  margin-right: 45px;
}

.page-navigation__item:last-child ,
.page-navigation__item:nth-child(7n) {
  margin-right: 0;
} */

.logo {
  width: 160px;
  height: 66px;
}

.page-header__wrapper-logo {
  grid-column: 1 / 2;
}

.page-header__wrapper-cart-bug {
  grid-column: 3 / 4;

  display: flex;
  align-items: center;
  padding-left: 40px;
}

.page-header__cart-bug {  /* For icon */
  display: flex;
}

.page-header__logo:hover {
  opacity: 70%;
}

.page-header__logo:active {
  opacity: 30%;
}

.page-header__logo_disabled,
.page-header__logo_disabled:hover,
.page-header__logo_disabled:active {
  opacity: 100%;
}

/* Presentation */

.presentation {
  background-color: var(--basic-grey);
}


.presentation__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px
}

.presentation__slider {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(3, min-content);
  column-gap: 40px;
}

.slider__heading {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  margin: 78px 0 25px 0;
  z-index: 1;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider__description {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  margin-top: 0;
  margin-bottom: 38px;
  z-index: 1;

  color: var(--extra-grey-300);
}

.slider__button {
  grid-column: 1;
  grid-row: 3 / 4;

  z-index: 1;
  min-width: 240px;
  padding: 18px 54px 15px 54px;
  margin-bottom: 80px;
}

.slider__img {
  grid-column: 5 / -1;
  grid-row: 1 / -1;

  margin: 0;
  padding: 0;
  width: 760px;
  height: 431px;
}

/* Main */

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Services */

.services {
  margin-top: 80px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__img {
  width: 300px;
  height: 146px;
  margin-bottom: 25px;

  background-color: var(--accent-red);
}

.services__heading {
  margin: 0 0 16px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__description {
  margin: 0 0 32px 0;

  color: var(--extra-grey-300);
}

.services__button {
  max-width: 300px;
  min-width: 160px;
  padding: 16px 40px;
}

.services__img_green,
.services__button_green {
  background-color: var(--accent-green);
}

.services__img_yellow,
.services__button_yellow {
  background-color: var(--accent-yellow);
}

.services__button_green:hover {
  background-color: var(--accent-green-hover);
}

.services__button_green:active {
  background-color: var(--accent-green-active);
}

.services__button_yellow:hover {
  background-color: var(--accent-yellow-hover);
}

.services__button_yellow:active {
  background-color: var(--accent-yellow-active);
}

/* Separator services */

.wrapper__separator-services {
  margin-top: 80px;
  margin-bottom: 39px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 40px;
}

.about__about-wrapper {
  grid-column: 1 / 2;
}

.about-wrapper__heading-first {
  margin: 34px 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-wrapper__description {
  margin-bottom: 37px;
}

.about-wrapper__heading-second {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--extra-grey-300);
  text-transform: uppercase;
}

/* TODO list-style or ::before / ::after ?
.about-wrapper__list {
  list-style: url("#");

  TODO padding left 37px layout
  padding-left: 37px;
}*/

.about-wrapper__item {
  margin-bottom: 33px;
}

.about-wrapper__description,
.about-wrapper__item {
  color: var(--extra-grey-300);
}

/* About data */

.about-data__img {
  width: 360px;
  height: 208px;
  margin-bottom: 37px;

  background: linear-gradient(to bottom right,
  var(--accent-red), var(--accent-yellow), var(--accent-green));
}

.about-data__heading-list {
  margin-top: 0;
  margin-bottom: 31px;
  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
}

.about-data__advantages {
  /* Grid version of dl */
  /*display: grid;*/
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-rows: repeat(2, min-content);*/

  /* flex ver of dl */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 100px;
}

.advantages__term {
  font-size: 16px;
  line-height: 18px;
  color: var(--extra-grey-300);
}

.advantages__persentages {
  margin-left: 0;
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

/* fixed html tabs -n margin */
.advantages__persentages-sup {
  position: relative;
  bottom: 15px;
  margin-left: -10px;

  font-size: 26px;
  line-height: 40px;
}

.advantages__persentages:last-child {
  margin-right: 0;
}

/* Clients */

.clients__wrapper {
  padding: 23px 0;
  margin-bottom: 80px;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.clients__list {
  display: grid;
  grid-template-columns: 278px 298px 298px 278px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.clients__item {
  margin: 23px 0;
}

.clients__ref {
  opacity: 20%;

  /* TODO Опасити у бекграунда или он там вообще не нужен?
    background-color: var(--empty-light-grey);
    background-size: 100%; */
}

.clients__ref:hover {
  opacity: 100%;
}

.clients__ref:active {
  opacity: 10%;
}

/* Footer */

/* Contacts */

.contacts {
  width: 1170px;
  margin: 0 auto;
  padding: 10px;
}

.address {
  padding: 50px;
  width: 319px;
  height: 308px;

  font-style: normal;
  background-color: var(--basic-white);
}

.address__heading {
  margin-top: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.address__location,
.address__tel {
  font-size: 16px;
  line-height: 18px;
  color: var(--extra-grey-100);
}

.address__tel {
  text-decoration: none;
}

.contacts__button {
  width: 219px;
  margin-top: 43px;
  padding: 16px 44px;
}

/* Map */

.map {
  background-color: var(--light-grey-200);
}

/* Plug map */

.map__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Social */

.social-media {
  background-color: var(--basic-white);
}

.social-media__wrapper {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  column-gap: 40px;
  width: 1170px;
  margin: 0 auto;
  padding: 68px 10px;
}

.social-media__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-media__item {
  flex-basis: 81px;
  flex-shrink: 0;
  margin-right: 11px;
  margin-bottom: 10px;
}

.social-media__item:nth-child(4n) ,
.social-media__item:last-child {
  margin: 0;
}

.social-media__ref {
  background: linear-gradient(0deg, var(--light-grey-250), var(--light-grey-250)), var(--basic-white);
}

.social-media__ref:hover {
  background: linear-gradient(0deg, var(--accent-red-hover), var(--accent-red-hover)), var(--basic-white);
}

.social-media__ref:active {
  background: linear-gradient(0deg, var(--accent-red-active), var(--accent-red-active)), var(--basic-white);
  box-shadow: inset 0 3px 0 var(--box-shadow-active);
}

.social-discount {
  grid-area: 1 / 2 / -1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-discount__heading {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-discount__description {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--extra-grey-250);
}

/* Catalog */

/* Catalog Heading */

.heading-wrapper {
  background-color: var(--basic-grey);
}

.catalog-heading {
  width: 1170px;
  margin: 0 auto;
  padding: 125px 10px;
  text-align: center;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* layout catalog */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 133px 1fr;
  column-gap: 140px;
  margin-bottom: 60px;
}

.sites {
  grid-column: 2 / -1;
}

/* Filters */

.filters__fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.filters__fieldset_price {
  margin-bottom: 54px;
}

.filters__fieldset_layout {
  margin-bottom: 51px;
}

.filters__fieldset_features {
  margin-bottom: 48px;
}

.filters__heading {
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters__heading_inner {
  margin-bottom: 14px;
}

.filters__price-range {
  width: 260px;
  height: 80px;
  margin-bottom: 14px;

  background-color: var(--basic-grey);
  border-radius: 3px;
}

.filters__fieldset_price input[type="range"] {
  padding: 0;
  border: none;

  background-color: var(--basic-grey);
}

.filters__fieldset_price input[type="number"] {
  box-sizing: border-box;
  max-width: 80px;
  min-height: 38px;
  padding: 0;
  margin-right: 33px;

  border-radius: 3px;
  border: none;
  background-color: var(--basic-grey);
}

.filters__fieldset_price input[type="number"]:last-child {
  margin: 0;
}

.filters__price-input {
  margin-right: 11px;
}

.filters__price-input,
input[type="number"] {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--extra-grey-300);
}

.filters__options-list {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--extra-grey-300);
  list-style: none;
}

.filters__options-item {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.filters__options-item:last-child {
  margin-bottom: 0;
}

.filters__options-item input[type="radio"],
.filters__options-item input[type="checkbox"] {
  margin-right: 11px;

  color: var(--extra-grey-200);
  opacity: 40%;
}

.filters__options-item input[type="radio"]:hover,
.filters__options-item input[type="checkbox"]:hover {
  opacity: 100%;
}

.filters__options-item_disabled,
.filters__options-item input[type="radio"]:disabled,
.filters__options-item input[type="checkbox"]:disabled {
  opacity: 30%;
}

.filters__button-grey {
  max-width: 260px;
  padding: 16px 88px;
}

/* Sort */

.sort__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort__heading {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort__form {
  display: flex;
}

.sort__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__item {
  margin-right: 25px;
}

.sort__item:last-child {
  margin-right: 47px;
}


.sort__item-button {
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 30%;
  background-color: transparent;
}

.sort__item-button:hover {
  opacity: 60%;
}

.sort__item-button_active,
.sort__item-button:active {
  opacity: 100%;
}

/* Arrows color and states */

/*.sort__item-arrows-button {*/
/*  color: var(--arrows-grey);*/
/*  opacity: 50%;*/
/*}*/

/*.sort__item-arrows-button:hover {*/
/*  opacity: 100%;*/
/*}*/

/*.sort__item-arrows-button:active,*/
/*.sort__item-arrows-button_active {*/
/*  color: var(--arrows-black);*/
/*  opacity: 100%;*/
/*}*/

/* List Sites */

.sites__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0;

  list-style: none;
}

.sites__item {
  background-color: var(--basic-grey-hover);
}

.sites__item:hover {
  filter: drop-shadow(0 6px 15px var(--drop-shadow-black));
}

.sites__img {
  width: 100%;
}

.sites__item-info {
  padding-top: 26px;
  padding-bottom: 44px;
  text-align: center;

  background-color: var(--basic-grey);
}

.sites__item-heading {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sites__item-description {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 18px;
  color: var(--extra-grey-100);
}

.sites__button {
  max-width: 320px;
  padding: 16px 72px;
}

/* Pagination */

.pagination {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__button {
  max-width: 260px;
  padding: 16px 20px;
  margin-right: 11px;
}

.pagination__button_next {
  max-width: 260px;
  padding: 16px 78px;
  margin: 0;
}

.pagination__button_disabled,
.pagination__button_disabled:hover,
.pagination__button_disabled:active {
  padding: 13px 17px;
  border: 3px solid var(--border-grey);

  color: var(--basic-black);
  background-color: var(--point-basic-black);
  box-shadow: none;
  cursor: default;
}
