/* Fonts */
@font-face {                     /* normal 400 */
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/roboto.woff2"),
    url("/fonts/roboto.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {                    /* normal 500 */
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("/fonts/robotomedium.woff2"),
    url("/fonts/robotomedium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {                    /* normal 700 */
  font-family: "Roboto";
  src: local("Roboto Bold"),
  url("/fonts/robotobold.woff2"),
  url("/fonts/robotobold.woff");
  font-weight: 700;
  font-style: normal;
}

/* Color */
 :root {
   --basic-black: #000;
  --basic-white: #FFF;
  --basic-grey: #EEE;
  --accent-red: #FB565A;
  --accent-green: #00CA74;
  --accent-yellow: #EFC849;
  --light-grey: #E1E1E1;
  --extra-grey: #4D4D4D;
  --description-grey: #283136;

   --empty-light-grey: #E0E0E0;
   --contacts-light-grey: #666;
   --social-extra-grey: #444;

   --input-light-grey: #D7DCDE;
   --input-hover-light-grey: #B4B9BB;

   --basic-grey-hover: #DFDFDF;
   --basic-grey-active: #D5D5D5;

   --accent-red-hover: #E74246;
   --accent-green-hover: #00BC6C;
   --accent-yellow-hover: #EAB534;
   --accent-red-active: #D7373B;
   --accent-green-active: #00AA62;
   --accent-yellow-active: #E5A722;

   --box-shadow-active: rgba(0, 1, 1, 0.1);
   --text-button-active: rgba(255, 255, 255, 30%);
   --point-basic-white: rgba(0, 0, 0, 0.0001);
   --border-grey: #DBDBDB;
   --arrows-grey: #A6A6A6;
   --arrows-black: #231F20;
}

/* Index */

/* Standard */

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.wrapper {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

/* Button */

.button {
  background-color: var(--accent-red);

  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);

  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: var(--accent-red-hover);
}

.button:active {
  background-color: var(--accent-red-active);
  box-shadow: inset 0 3px 0 var(--box-shadow-active);
  color: var(--text-button-active);
}

/* Header */

.page-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.page-navigation__item {
  list-style: none;
}

.page-navigation__ref ,
.page-header__cart-bug {
  color: var(--basic-black);
  text-decoration: none;
}

.page-header__logo:hover {
  opacity: 70%;
}

.page-navigation__ref:hover ,
.page-header__cart-bug:hover {
  color: var(--accent-red);
}

.page-header__logo:active ,
.page-navigation__ref:active ,
.page-header__cart-bug:active {
  opacity: 30%;
}

.page-header__logo_disabled ,
.page-header__logo_disabled:hover ,
.page-header__logo_disabled:active {
  opacity: 100%;
}

/* Presentation */

.slider__heading {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider__description {
  color: var(--description-grey);
}

.slide-first ,
.slide-second ,
.slide-third {
  background-color: var(--empty-light-grey);
}

/* Services */

.services__item {
  list-style: none;
}

.services__img {
  background-color: var(--accent-red);
}

.services__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services__description {
  color: var(--description-grey);
}

.services__img_green ,
.services__button_green {
  background-color: var(--accent-green);
}

.services__img_yellow ,
.services__button_yellow {
  background-color: var(--accent-yellow);
}

.services__button_green:hover {
  background-color: var(--accent-green-hover);
}

.services__button_green:active {
  background-color: var(--accent-green-active);
}

.services__button_yellow:hover {
  background-color: var(--accent-yellow-hover);
}

.services__button_yellow:active {
  background-color: var(--accent-yellow-active);
}

/* About */

.about-wrapper__heading-first {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-wrapper__heading-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-grey);
}

/* TODO list-style or ::before / ::after ?
.about-wrapper__item {
  list-style: url("#");
}*/

.about-wrapper__description ,
.about-wrapper__item {
  color: var(--description-grey);
}

/* About data */

.about-data__img {
  background: linear-gradient(to bottom right,
  var(--accent-red), var(--accent-yellow), var(--accent-green));
}

.about-data__heading-list {
  font-weight: 700;
}

.advantages__term {
  font-size: 16px;
  line-height: 18px;
  color: var(--description-grey);
}

.advantages__persentages {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantages__persentages_sup {
  font-size: 26px;
  line-height: 40px;
}

/* Clients */

.clients__item {
  list-style: none;
}

.clients__ref {
  opacity: 20%;

/* TODO Опасити у бекграунда или он там вообще не нужен?
  background-color: var(--empty-light-grey);
  background-size: 100%; */
}

.clients__ref:hover {
  opacity: 100%;
}

.clients__ref:active {
  opacity: 10%;
}

/* Footer */

/* Contacts */

.contacts {
  background-color: var(--basic-white);
}

.address {
  font-style: normal;
}

.address__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.address__location ,
.address__tel {
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts-light-grey);
}

.address__tel {
  text-decoration: none;
}

/* Map */

.map {
  background-color: var(--empty-light-grey);
}

/* Social */

.social-media__item {
  list-style: none;
}

.social-media__ref {
  background: linear-gradient(0deg, var(--light-grey), var(--light-grey)), var(--basic-white);
}

.social-media__ref:hover {
  background: linear-gradient(0deg, var(--accent-red-hover), var(--accent-red-hover)), var(--basic-white);
}

.social-media__ref:active {
  background: linear-gradient(0deg, var(--accent-red-active), var(--accent-red-active)), var(--basic-white);
  box-shadow: inset 0 3px 0 var(--box-shadow-active);
}

.social-discount__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-discount__description {
  font-size: 16px;
  line-height: 22px;

  color: var(--social-extra-grey);
}

/* Catalog */

/* Filters */

.filters__fieldset {
  border: none;
}

.filters__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters__price-range {
  background-color: var(--basic-grey);
  border-radius: 3px;
}

input[type="number"] {
  background-color: var(--basic-grey);

  border-radius: 3px;
  border: none;
}

.filters__price-input ,
input[type="number"] {
  color: var(--description-grey);
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filters__options-item {
  list-style: none;

  font-size: 16px;
  line-height: 20px;
  color: var(--description-grey);
}

input[type="radio"] ,
input[type="checkbox"] {
  color: var(--extra-grey);
  opacity: 40%;
}

input[type="radio"]:hover ,
input[type="checkbox"]:hover {
  opacity: 100%;
}

.filters__options-item_disabled ,
input[type="radio"]:disabled ,
input[type="checkbox"]:disabled {
  opacity: 30%;
}

.filters__button {
  background-color: var(--basic-grey);
  color: var(--basic-black);
}

.filters__button:hover {
  background-color: var(--basic-grey-hover);
}

.filters__button:active {
  background-color: var(--basic-grey-active);
  box-shadow: inset 0 3px 0 var(--box-shadow-active);
  color: var(--text-button-active);
}

/* Sort */

.sort__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.sort__item {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  opacity: 30%;
}

.sort__item:hover {
  opacity: 60%;
}

.sort__item_active ,
.sort__item:active {
  opacity: 100%;
}

.sort__item-arrows {
  list-style: none;
  color: var(--arrows-grey);
  opacity: 50%;
}

.sort__item-arrows:hover {
  opacity: 100%;
}

.sort__item-arrows:active ,
.sort__item-arrows_active {
  color: var(--arrows-black);
  opacity: 100%;
}