/* Fonts */
@font-face {                     /* normal 400 */
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/roboto.woff2"),
    url("/fonts/roboto.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {                    /* normal 700 */
  font-family: "Roboto";
  src: local("Roboto Bold"),
    url("/fonts/robotobold.woff2"),
    url("/fonts/robotobold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {                    /* normal 500 */
  font-family: "Robot";
  src: local("Roboto Medium"),
    url("/fonts/robotomedium.woff2"),
    url("/fonts/robotomedium.woff");
  font-weight: 500;
  font-style: normal;
}

/* Color */

root {
  --BASIC-WHITE: #fff;
  --BASIC-GREY: #eee;
  --BASIC-RED: #FB565A;
  --BASIC-GREEN: #00CA74;
  --BASIC-YELLOW: #EFC849;
  --LIGHT-GREY: #E1E1E1;
  --EXTRA-GREY: #4D4D4D;
}

/* standard */

body {
  font-family: "Roboto", "Arial", sans-serif;
}

