/* Fonts */
@font-face {                     /* normal 400 */
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/roboto.woff2"),
    url("/fonts/roboto.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {                    /* normal 500 */
  font-family: "Roboto";
  src: local("Roboto Medium"),
    url("/fonts/robotomedium.woff2"),
    url("/fonts/robotomedium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {                    /* normal 700 */
  font-family: "Roboto";
  src: local("Roboto Bold"),
  url("/fonts/robotobold.woff2"),
  url("/fonts/robotobold.woff");
  font-weight: 700;
  font-style: normal;
}

/* Color */
 :root {
  --basic-white: #fff;
  --basic-grey: #eee;
  --accent-color: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --light-grey: #E1E1E1;
  --extra-grey: #4D4D4D;
  --description-color: #283136;
}

/* Standard */

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--basic-white);
}

.wrapper {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
}

/* Button */

.button {
  background-color: var(--accent-color);

  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
  border-radius: 3px;
}

.button:hover {
  background-color: #E74246;
}

.button:active {
  background-color: #D7373B;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 30%);
}

/* Header */

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.main-navigation__item {
  list-style: none;
}

.main-navigation__ref,
.main-header__cart-bug {
  color: #000;
  text-decoration: none;
}

.header__logo:hover {
  opacity: 70%;
}

.main-navigation__ref:hover,
.main-header__cart-bug:hover {
  color: var(--accent-color);
}

.header__logo:active,
.main-navigation__ref:active,
.main-header__cart-bug:active {
  opacity: 30%;
}

/* Presentation */

.slider__heading {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider__description {
  color: var(--description-color);
}

.slide-first,
.slide-second,
.slide-third {
  background-color: #E0E0E0;
}

/* Services */

.services__item {
  list-style: none;
}

.services__img {
  background-color: var(--accent-color);
}

.services__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services__description {
  color: var(--description-color);
}

.services__img_green,
.services__button_green {
  background-color: var(--basic-green);
}

.services__img_yellow,
.services__button_yellow {
  background-color: var(--basic-yellow);
}

.services__button_green:hover {
  background-color: #00BC6C;
}

.services__button_green:active {
  background-color: #00AA62;
}

.services__button_yellow:hover {
  background-color: #EAB534;
}

.services__button_yellow:active {
  background-color: #E5A722;
}

/* About */

.about-wrapper__heading-first {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-wrapper__heading-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-color);
}

/* TODO list-style or ::before / ::after ?
.about-wrapper__item {
  list-style: url("#");
}*/

.about-wrapper__description,
.about-wrapper__item {
  color: var(--description-color);
}

/* About data */

.about-data__img {
  background: linear-gradient(to bottom right,
  var(--accent-color), var(--basic-yellow), var(--basic-green));
}

.about-data__heading-list {
  font-weight: 700;
}

.advantages__term {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--description-color);
}

.advantages__persentages {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.advantages__persentages_sup {
  font-size: 26px;
  line-height: 40px;
}

/* Clients */

/* Footer */

/* Map */

/* Social */